<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>User Management</title>
</head>
<body>
    <h1>User Management (Admin)</h1>
    <h2>Total Users: {{ users_dictionaries|length }} </h2>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_dictionaries %}
                <tr>
                    <td>{{ user.userid }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <a href="/remove_user/{{ user.username }}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="/admin_dashboard">Back to Admin Dashboard</a></p>
</body>
</html>
